* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: transparent;
  padding: 30px 0;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header--left {
  display: flex;
  align-items: center;
}
#header .header--left h1 {
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#header .header--right {
  display: flex;
  align-items: center;
}
#header .header--right button {
  width: 193px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#header .header--right__nav a {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.003em;
  margin: 0 12px;
  color: #FFFFFF;
}

#hero {
  background: url("../img/hero-img.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 100px 0;
}
#hero .hero--title {
  padding-top: 115px;
}
#hero .hero--title h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 120%;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
#hero .hero--title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2px;
  color: #FFFFFF;
}
#hero .hero--title button {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 322px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#hero .hero--title h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}
#hero .hero--logo {
  padding-left: 300px;
}
#hero .hero--logo a {
  color: #FF001E;
  font-size: 30px;
  margin: 0 10px;
}

#tehno {
  padding: 40px 0;
  background: #FFFFFF;
}
#tehno .tehno {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#tehno .tehno--block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 170px;
  background: #222222;
  border-radius: 20px;
}
#tehno .tehno--block a {
  font-size: 80px;
  color: #FF001E;
}
#tehno .tehno--block h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

#car {
  background: #222222;
  padding: 40px 0;
}
#car h1 {
  margin-left: 25px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#car .cars {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#car .cars--img img {
  padding: 13px 0;
}
#car .cars--img__logo {
  position: relative;
}
#car .cars--img__title {
  width: 424px;
  height: 283px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 89.06%);
  position: absolute;
  bottom: 5px;
  right: 0;
}
#car .cars--img__title p {
  margin-top: 200px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}

#servic {
  background: #222222;
  padding: 20px 0;
}
#servic h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 30px;
}
#servic button {
  width: 413px;
  height: 80px;
  border: 2px solid #F5F7F9;
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 480px;
}
#servic .servic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#servic .servic--block {
  margin: 15px 25px;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
}
#servic .servic--block h1 {
  margin-top: 110px;
  margin-left: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#servic .servic--block p {
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #000000;
}
#servic .servic--block__price {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
#servic .servic--block__price h5 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #000000;
}
#servic .servic--block__price h4 {
  margin-left: 100px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#servic .servic--block__title {
  position: absolute;
  top: -10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 98px;
  background: #000000;
  padding-bottom: 10px;
  border-radius: 20px;
}
#servic .servic--block__title img {
  margin-left: 40px;
}
#servic .servic--block__icon {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
#servic .servic--block__icon h3 {
  margin: 10px 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

#it {
  background: #FFFFFF;
  padding: 20px 0;
}
#it h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 30px;
}
#it .it {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#it .it--block {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 486px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block h1 {
  margin-top: 20px;
  margin-left: 100px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block p {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block img {
  margin-left: 30px;
  margin-bottom: 34px;
}
#it .it--icon {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
#it .it--icon h4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF001E;
}
#it .it--icon2 {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
#it .it--icon2 h5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF001E;
}
#it .it--icon2 h6 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block__img {
  position: absolute;
  top: 35px;
}
#it .it--block2 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 755px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block2 h1 {
  margin-top: 20px;
  margin-left: 130px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block2 p {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block2 img {
  margin-left: 300px;
  margin-bottom: 34px;
}
#it .it--block3 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 755px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block3 h1 {
  margin-top: 20px;
  margin-left: 230px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block3 p {
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block3 img {
  margin-left: 55px;
  margin-bottom: 34px;
}
#it .it--block5 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 1261px;
  height: 362px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block5 h1 {
  margin-top: 10px;
  margin-left: 330px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block5 p {
  margin-left: 30px;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}

#studio {
  padding: 50px 0;
  background: #222222;
}
#studio h1 {
  margin-left: 90px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#studio .studio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#studio .studio p {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}

#front {
  background: #989898;
  padding: 30px 0;
}
#front h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#front #All:checked ~ .Frontend,
#front #All:checked ~ .Backend,
#front #All:checked ~ .UI\/UX,
#front #All:checked ~ .Database {
  opacity: 1;
  transition: 0.6s;
}
#front #Frontend:checked ~ .Backend,
#front #Frontend:checked ~ .UI\/UX,
#front #Frontend:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #Backend:checked ~ .Frontend,
#front #Backend:checked ~ .UI\/UX,
#front #Backend:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #UI\/UX:checked ~ .Backend,
#front #UI\/UX:checked ~ .Frontend,
#front #UI\/UX:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #Database:checked ~ .Backend,
#front #Database:checked ~ .Frontend,
#front #Database:checked ~ .UI\/UX {
  opacity: 0.2;
  transition: 0.4s;
}
#front .front {
  display: flex;
  align-items: center;
  margin-left: 170px;
}
#front .front--labels {
  display: flex;
  flex-direction: column;
}
#front .front--labels label {
  padding: 5px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
#front .front--images {
  display: flex;
  align-items: center;
  width: 818px;
  flex-wrap: wrap;
  margin-left: 30px;
}
#front .front--images input {
  display: none;
}
#front .front--images img {
  margin: 10px 10px;
}

#Frontend:checked ~ .Frontend {
  opacity: 1;
  transition: 0.6s;
}

#Backend:checked ~ .Backend {
  opacity: 1;
  transition: 0.6s;
}

/*# sourceMappingURL=style.css.map */
