* {
  margin: 0;
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#header {
  backdrop-filter: blur(4px);
  position: fixed;
  z-index: 100;
  width: 100%;
  background: transparent;
  padding: 30px 0;
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: head 2s ease;
  transition: 0.4s;
}
@keyframes head {
  0% {
    transform: translateY(-200px);
  }
}
#header .header--left {
  display: flex;
  align-items: center;
}
#header .header--left h1 {
  margin-left: 10px;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#header .header--right {
  display: flex;
  align-items: center;
}
#header .header--right button {
  width: 193px;
  height: 48px;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  transition: 0.4s;
}
#header .header--right button:hover {
  background: #FF001E;
  border: 2px solid #FF001E;
  transform: scale(0.9);
}
#header .header--right__nav a {
  font-weight: 400;
  font-size: 15px;
  margin: 0 12px;
  transition: 0.4s;
  color: #FFFFFF;
}
#header .header--right__nav a:hover {
  color: #FF001E;
  border-bottom: 2px solid #FF001E;
  transform: scale(1.1);
}

#hero {
  background: url("../img/hero-img.png") no-repeat center/cover;
  min-height: 100vh;
}
#hero .hero {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 100px 0;
}
#hero .hero--title {
  padding-top: 115px;
  animation: hero 2s ease;
  transition: 0.3s;
}
@keyframes hero {
  0% {
    transform: translateX(-1000px);
  }
}
#hero .hero--title h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 120%;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
#hero .hero--title p {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 2px;
  color: #FFFFFF;
}
#hero .hero--title button {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 322px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  transition: 0.4s;
}
#hero .hero--title button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #FF001E;
  border: 2px solid #FF001E;
}
#hero .hero--title h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
}
#hero .hero--logo {
  animation: hero-logo 2s ease;
  transition: 0.3s;
  padding-left: 300px;
}
@keyframes hero-logo {
  0% {
    transform: translateX(1000px);
  }
}
#hero .hero--logo a {
  color: #FF001E;
  font-size: 30px;
  margin: 0 10px;
}

#tehno {
  padding: 40px 0;
  background: #FFFFFF;
}
#tehno .tehno {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#tehno .tehno--block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 170px;
  background: #222222;
  border-radius: 20px;
}
#tehno .tehno--block a {
  font-size: 80px;
  color: #FF001E;
}
#tehno .tehno--block h1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

#car {
  background: #222222;
  padding: 40px 0;
}
#car h1 {
  margin-left: 25px;
  padding-bottom: 40px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#car .car {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#car .car--img {
  z-index: 1;
  position: relative;
  width: 424px;
  height: 283px;
  margin-bottom: 30px;
}
#car .car--img img {
  width: 100%;
  transition: 0.5s ease;
}
#car .car--img img:hover {
  opacity: 0.4;
}
#car .car--img p {
  position: absolute;
  bottom: 40px;
  left: 110px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.003em;
  color: rgb(255, 255, 255);
  z-index: -1;
}

#servic {
  background: #222222;
  padding: 20px 0;
}
#servic h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 30px;
}
#servic button {
  width: 413px;
  height: 80px;
  border: 2px solid #F5F7F9;
  border-radius: 10px;
  background: transparent;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 480px;
  transition: 0.4s;
}
#servic button:hover {
  border: 2px solid #FF001E;
  transform: scale(0.9);
  background: #FF001E;
}
#servic .servic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#servic .servic--block {
  margin: 15px 25px;
  position: relative;
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background: #FFFFFF;
  border-radius: 20px;
}
#servic .servic--block h1 {
  margin-top: 110px;
  margin-left: 40px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#servic .servic--block p {
  margin-bottom: 30px;
  margin-left: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #000000;
}
#servic .servic--block__price {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
#servic .servic--block__price h5 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #000000;
}
#servic .servic--block__price h4 {
  margin-left: 100px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#servic .servic--block__title {
  position: absolute;
  top: -10px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 98px;
  background: #000000;
  padding-bottom: 10px;
  border-radius: 20px;
}
#servic .servic--block__title img {
  margin-left: 40px;
}
#servic .servic--block__icon {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}
#servic .servic--block__icon h3 {
  margin: 10px 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

#it {
  background: #FFFFFF;
  padding: 20px 0;
}
#it h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 30px;
}
#it .it {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#it .it--block {
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 486px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block h1 {
  margin-top: 20px;
  margin-left: 100px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block p {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block img {
  margin-left: 30px;
  margin-bottom: 34px;
}
#it .it--icon {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
#it .it--icon h4 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF001E;
}
#it .it--icon2 {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
#it .it--icon2 h5 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #FF001E;
}
#it .it--icon2 h6 {
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block__img {
  position: absolute;
  top: 35px;
}
#it .it--block2 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 755px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block2 h1 {
  margin-top: 20px;
  margin-left: 130px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block2 p {
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block2 img {
  margin-left: 300px;
  margin-bottom: 34px;
}
#it .it--block3 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 755px;
  height: 446px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block3 h1 {
  margin-top: 20px;
  margin-left: 230px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block3 p {
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#it .it--block3 img {
  margin-left: 55px;
  margin-bottom: 34px;
}
#it .it--block5 {
  margin: 15px 10px;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  width: 1261px;
  height: 362px;
  background: #222222;
  border-radius: 20px;
}
#it .it--block5 h1 {
  margin-top: 10px;
  margin-left: 330px;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#it .it--block5 p {
  margin-left: 30px;
  margin-bottom: 1px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}

#studio {
  padding: 50px 0;
  background: #222222;
}
#studio h1 {
  margin-left: 90px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#studio .studio {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#studio .studio p {
  padding-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}

#front {
  background: #989898;
  padding: 30px 0;
}
#front h1 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
}
#front #All:checked ~ .Frontend,
#front #All:checked ~ .Backend,
#front #All:checked ~ .UI\/UX,
#front #All:checked ~ .Database {
  opacity: 1;
  transition: 0.6s;
}
#front #Frontend:checked ~ .Backend,
#front #Frontend:checked ~ .UI\/UX,
#front #Frontend:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #Backend:checked ~ .Frontend,
#front #Backend:checked ~ .UI\/UX,
#front #Backend:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #UI\/UX:checked ~ .Backend,
#front #UI\/UX:checked ~ .Frontend,
#front #UI\/UX:checked ~ .Database {
  opacity: 0.2;
  transition: 0.4s;
}
#front #Database:checked ~ .Backend,
#front #Database:checked ~ .Frontend,
#front #Database:checked ~ .UI\/UX {
  opacity: 0.2;
  transition: 0.4s;
}
#front .front {
  display: flex;
  align-items: center;
  margin-left: 170px;
}
#front .front--labels {
  display: flex;
  flex-direction: column;
}
#front .front--labels label {
  padding: 5px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
#front .front--images {
  display: flex;
  align-items: center;
  width: 818px;
  flex-wrap: wrap;
  margin-left: 30px;
}
#front .front--images input {
  display: none;
}
#front .front--images img {
  margin: 10px 10px;
}

#team {
  background: #222222;
  padding: 70px 0;
}
#team h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 95px;
}
#team .team {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#team .team .swiper {
  width: 100%;
  height: 360px;
}
#team .team .swiper-slide {
  text-align: center;
  font-size: 14px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#team .team .swiper-slide img {
  display: block;
  width: 200px;
  height: 253.85px;
  object-fit: cover;
}
#team .team--block {
  position: relative;
}
#team .team--block h1 {
  margin-top: 10px;
  margin-left: 8px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #000000;
}
#team .team--block p {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.003em;
  color: #3D3D3D;
}
#team .team--block p span {
  color: #FF001E;
}
#team .team--block img {
  width: 200px;
  height: 253.85px;
}
#team .team--block__title {
  position: absolute;
  bottom: -60px;
  width: 200px;
  height: 70px;
  background: #F5F7F9;
}

#name {
  background: #222222;
  padding: 50px 0;
}
#name h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.003em;
  color: #FF001E;
  padding-bottom: 30px;
}
#name .name {
  display: flex;
  justify-content: space-between;
}
#name .name h4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#name .name--inputs {
  width: 642px;
  height: 400px;
  background: #9D0013;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
#name .name--inputs .input input {
  font-size: 16px;
  padding-left: 20px;
  margin: 10px;
  width: 260px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}
#name .name--inputs button {
  cursor: pointer;
  width: 582px;
  margin-top: 15px;
  height: 40px;
  background: #222222;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  background: linear-gradient(90deg, yellow, orange, red, violet, purple, blue, yellow);
  background-size: 400%;
  transform: translate(0%, -50%);
}
#name .name--inputs button:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 400%;
  }
}
#name .name--inputs button:before {
  content: "";
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #ff0000, #ef3224, #7c3697);
  background-size: 400%;
  border-radius: 40px;
  transition: 0.5s;
}
#name .name--inputs button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
}
#name .name--inputs p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.003em;
  text-decoration-line: underline;
  color: #FFFFFF;
}
#name .name--inputs__comm {
  font-size: 18px;
  padding-bottom: 60px;
  padding-left: 20px;
  margin: 10px;
  width: 562px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 10px;
}

#footer {
  padding: 20px 0;
}
#footer .footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#footer .footer--left h1 {
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.003em;
  color: #000000;
}
#footer .footer--left button {
  margin-bottom: 30px;
  width: 294px;
  height: 59px;
  background: #FF001E;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.003em;
  color: #F5F7F9;
  transition: 0.4s;
}
#footer .footer--left button:hover {
  border: 2px solid #FF001E;
  transform: scale(1.1);
  background: transparent;
  color: #FF001E;
}
#footer .footer--left h2 {
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
#footer .footer--left__icon {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
#footer .footer--left__icon a {
  font-size: 28px;
  color: #FF001E;
  margin-right: 7px;
}
#footer .footer--left__icon p {
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}
#footer .footer--right {
  display: flex;
}
#footer .footer--right__nav {
  padding: 0 40px;
}
#footer .footer--right__nav h1 {
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
#footer .footer--right__nav p {
  padding: 10px 0;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  transition: 0.4s;
}
#footer .footer--right__nav p:hover {
  color: #FF001E;
  border-bottom: 2px solid #FF001E;
  transform: scale(1.1);
}

#prof {
  background: url("../img/prof.svg") no-repeat center/cover;
  min-height: 100vh;
}
#prof .prof {
  padding: 100px 0;
}
#prof .prof--title {
  padding-top: 115px;
  animation: hero 2s ease;
  transition: 0.3s;
}
@keyframes hero {
  0% {
    transform: translateX(-1000px);
  }
}
#prof .prof--title h1 {
  padding-top: 160px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
}
#prof .prof--title__lbtn {
  margin-right: 30px;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 300px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  transition: 0.4s;
}
#prof .prof--title button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #FF001E;
  border: 2px solid #FF001E;
}
#prof .prof--title__rbtn {
  margin-top: 50px;
  margin-bottom: 10px;
  width: 200px;
  height: 50px;
  background: #FF001E;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.003em;
  color: #FFFFFF;
  transition: 0.4s;
}
#prof .prof--title__rbtn button:hover {
  transform: scale(1.1);
  background: transparent;
  color: #FF001E;
  border: 2px solid #FF001E;
}
#prof .prof--title h4 {
  padding: 15px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
#prof .prof--logo {
  animation: hero-logo 2s ease;
  transition: 0.3s;
}
@keyframes hero-logo {
  0% {
    transform: translateX(-1000px);
  }
}
#prof .prof--logo a {
  color: #FF001E;
  font-size: 30px;
  margin: 0 10px;
}

#still {
  padding: 40px 0;
  background: #222222;
}
#still .still {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#still .still--block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  height: 170px;
  border-radius: 20px;
  background: #FFFFFF;
}
#still .still--block a {
  font-weight: 700;
  font-size: 48px;
  color: #FF001E;
}
#still .still--block h1 {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
